.box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 100px;
  margin-bottom: 10px;

  &--1 {
    background-color: @blue;
  }

  &--2 {
    background-color: @yellow;
  }

  &--3 {
    background-color: @grey;
  }
}

.box__text {
  font-size: 22px;
  font-weight: bold;

  &--1 {
    color: @white;
  }

  &--2 {
    color: @blue;
  }

  &--3 {
    color: @yellow;
  }
}

.box__btn {
  width: 250px;
  background-color: @blue;
  border: 1px solid @blue-dark;
  font-size: 20px;
  font-weight: bold;
  color: @white;
  margin: 0;
}
